{
  "env": {
    "mocha": true
  },
  "globals": {
    "chai": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-unused-expressions": 0
  }
}
